/* SleepKnight8 Themes */

:root {
    --sk-bg-1: #14191f;
    --sk-bg-2: #202832;

    --sk-primary: #ffd54f;
    --sk-primary-hover: #ffca28;

    --sk-surface: #262f3b;
    --sk-surface-2: #1b2129;

    --sk-text: #ffd54f;
    --sk-muted: #9aa7b5;
    --sk-border: #ffd54f;
}


body.sk-purple {
    --sk-bg-1: #101010;
    --sk-bg-2: #18121f;

    --sk-primary: #b58cff;
    --sk-primary-hover: #c7a7ff;

    --sk-surface: #211a2b;
    --sk-surface-2: #15111a;

    --sk-text: #b58cff;
    --sk-muted: #b58cff;
    --sk-border: #b58cff;
}
